<div class="card bg-e1de9b card-comment">
    <div class="card-body">
        <br><br>
        <div *ngIf="this.author">
            <img *ngIf="this.author.avatar!=''" src={{this.author.avatar}} alt="avatar" class="float-left avatar">
            <img *ngIf="this.author.avatar==''" src={{this.avatarEmpty}} alt="avatar" class="float-left avatar">
        </div>
        <br>
        <div *ngIf="this.author">
            {{this.author.identifiant}}
        </div>
        <br>
        <div class="text-secondary">
            {{this.post.date}}
            {{ this.post.hour}}
        </div>
        <br><br><br>
        <div *ngIf="this.post.Shared == undefined" class="text">
            {{this.post.body}}
            <b *ngFor="let item of this.post.hashtags" class="text-primary hashtag"> {{ item }} </b>
            <br><br><br>
            <p *ngIf="this.post.images"><img src={{this.post.images.url}} alt="[image not found]" class="image"></p>
        </div>
        <div *ngIf="this.post.Shared" class="post-shared">
            <p class="label-post-shared">partagé depuis</p>
            <app-post-shared [idPost]="this.post.Shared"></app-post-shared>
        </div>
        <br>
        <div class="group-icon-comment">
            <span *ngIf="!this.isLiked" (click)="like()" class="material-symbols-outlined"> thumb_up </span>
            <span *ngIf="this.isLiked" (click)="dislike()" class="material-symbols-outlined thumb_up-liked"> thumb_up
            </span>
            <span class="material-symbols-outlined"> sms </span>
            <span (click)="openSharePostModal(longContent)" class="material-symbols-outlined">
                google_plus_reshare
            </span>
        </div>
        <hr>
        <span class="material-symbols-outlined"> recommend </span>
        <span class="color-d1a642"> Aimé par {{this.nbLike}} personnes</span>
        <br><br><br>
        <div *ngIf="this.comments.length">
            <app-comment *ngFor="let item of this.comments" [comment]='item' [idPost]='this.post._id'></app-comment>
        </div>
        <div>
            <form #commentForm="ngForm" [formGroup]="formData" (ngSubmit)="onSubmit(); commentForm.resetForm()"
                class="form-group">
                <textarea formControlName="comment" class="form-control" rows="1" placeholder="Comment ..."></textarea>
                <p *ngIf="this.isSubmitedCommentEmpty" class="commentEmptyError">Le commentaire ne peut pas être vide!
                </p>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary mb-2 button-send-comment">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Partager Post</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-post-shared *ngIf="this.post.Shared == undefined" [idPost]="this.post._id"></app-post-shared>
        <app-post-shared *ngIf="this.post.Shared" [idPost]="this.post.Shared"></app-post-shared>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Annuler</button>
        <button type="button" class="btn btn-light btn-partage"
            (click)="confirmSharePost(); modal.close('Close click')">Partager</button>
    </div>
</ng-template>