@media only screen and (max-width:800px) {

    #logo, #top-nav-normal {
        visibility: hidden;
        position: absolute;
    }

    #logo h1 a, h1 a:hover {
        color: darkred;
        text-decoration: none;
    }

    #logo h1 span {
        color: #f8dbdb;
    }

    #logo h1 span {
        color: #f8dbdb;
    }

    #top-nav ul {
        list-style: none;
    }

    #top-nav ul li a {
        display: block;
        margin: 0;
        padding: 8px;
        color: red;
        text-decoration: none;
    }

}

@media only screen and (min-width:800px){

    .tel {
        visibility: hidden;
        position: absolute;
    }

    #header-inner {
        margin: 0 auto;
        padding: 0;
        width: 60%;
    }
    
    #logo {
        padding: 0;
        width: auto;
        float: left;
    }
    
    #logo h1 a, h1 a:hover {
        color: darkred;
        text-decoration: none;
    }
    
    #logo h1 span {
        color: #f8dbdb;
    }
    
    #top-nav {
        margin: 0 auto;
        padding: 0px 0 0;
        height: 37px;
        float: right;
    }
    
    #top-nav ul {
        list-style: none;
        padding: 0;
        height: 37px;
        float: left;
    }
    
    #top-nav ul li {
        margin: 0;
        padding: 0 0 0 8px;
        float: left;
    }
    
    #top-nav ul li a {
        display: block;
        margin: 0;
        padding: 8px 20px;
        color: red;
        text-decoration: none;
    }
    
    #top-nav ul {
        list-style: none;
    }
    
    .clr {
        clear: both;
        padding: 0;
        margin: 0;
        width: 100%;
        font-size: 0px;
        line-height: 0px;
    }
}