<div id="header-inner">
    <div id="logo">
        <h1><a href="#">CERI<span>soNet</span></a></h1>
    </div>
    <div id="top-nav-normal">
        <div id="top-nav">
            <ul>
                <li><a href="/">LandingPage</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">FAQ</a></li>
                <!-- <li><a href="/login" role="button">Sign in</a></li> -->
                <li *ngIf="this.isLogged == false"><a href="/login">Sign in</a></li>
                <li *ngIf="this.isLogged == true"><a role="button" (click)="disconnect()">Disconnect</a></li>
                <!-- <li *ngIf="this.isLogged == true"><a href="/?disconnect=true">Disconnect</a></li> -->
            </ul>
        </div>
    </div>
    <div class="clr"></div>
    <div class="tel">
        <div id="top-nav-tel" class="show-for-small-only">
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ngb-panel id="static-1" title="CERIsoNet">
                    <ng-template ngbPanelContent>
                        <div id="top-nav">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">FAQ</a></li>
                                <!-- <li><a href="/login">Login</a></li> -->
                                <li *ngIf="this.isLogged == false"><a href="/login">Sign in</a></li>
                                <li *ngIf="this.isLogged == true"><a role="button" (click)="disconnect()">Disconnect</a>
                                </li>
                            </ul>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>