<div class="card bg-e1de9b card-comment">
    <div class="card-body">
        <br><br>
        <!-- <img src={{this.author?.avatar}} alt="avatar" class="float-left avatar"> -->
        <!-- <div *ngIf="this.author"> -->
        <img *ngIf="this.author?.avatar!=''" src={{this.author?.avatar}} alt="avatar" class="float-left avatar">
        <img *ngIf="this.author?.avatar==''" src={{this.avatarEmpty}} alt="avatar" class="float-left avatar">
        <!-- </div> -->
        <br>
        <div>
            {{this.author?.identifiant}}
        </div>
        <br>
        <div *ngIf="this.post" class="text-secondary">
            {{this.post.date}}
            {{this.post.hour}}
        </div>
        <br><br><br>
        <div *ngIf="this.post" class="text">
            {{this.post.body}}
            <b *ngFor="let item of this.post.hashtags" class="text-primary hashtag"> {{ item }} </b>
            <br><br><br>
            <p *ngIf="this.post.images"><img src={{this.post.images.url}} alt="img" class="image"></p>
        </div>
    </div>
</div>