#footerblurb {
    background: #f8dbdb;
    color: rgb(209, 139, 0);
}

#footerblurb-inner {
    margin: 0 auto;
    width: 922px;
    padding: 24px;
}

#footerblurb .column {
    margin: 0;
    text-align: justify;
    float: left;
    width: 250px;
    padding: 0 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(174, 118, 0);
}

.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0px;
    line-height: 0px;
}

#footer {
    background: #fff;
}

#footer-inner {
    margin: auto;
    text-align: center;
    padding: 2%;
    width: 50%;
}

#footer a {
    color: rgb(209, 139, 0);
    text-decoration: none;
}