<!-- <div id="footerblurb">
    <div id="footerblurb-inner">
        <div class="column">
            <h2><span>Heading1</span></h2>
            <p>
                <script>generateText(2)</script>Peace comes from within. Do not seek it without. The past has no power
                over the present moment.
            </p>
        </div>
        <div class="column">
            <h2><span>Heading2</span></h2>
            <p>
                <script>generateText(2)</script>If the facts don't fit the theory, change the facts. The past has no
                power over the present moment.
            </p>
        </div>
        <div class="column">
            <h2><span>Heading3</span></h2>
            <p>
                <script>generateText(2)</script>The past has no power over the present moment. The past has no power
                over the present moment.
            </p>
        </div>
        <div class="clr"></div>
    </div>
</div> -->
<br>
<footer id="footer">
    <div id="footer-inner">
        <p>© Copyright <a href="#">Your Site</a> | <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a></p>
        <div class="clr"></div>
    </div>
</footer>