@media only screen and (max-width:800px) {
    .block-comment {
        margin: auto;
        width: 100%;
        padding: 8%;
    }
}

@media only screen and (min-width:800px) {

    .block-comment {
        margin: auto;
        width: 80%;
        padding: 3%;
    }
}

.feature {
    background: rgb(209, 139, 0);
    padding: 18px;
}

.feature-inner {
    margin: auto;
    width: 970px;
}

.feature-inner h1 {
    color: #f8dbdb;
    font-size: 30px;
}

.hashtag {
    margin-right: 1%;
    margin-top: 1%;
}

.justify-content-rigth {
    display: flex !important;
    justify-content: right !important;
    margin-top: 2%;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.orderby {
    display: flex;
}

.btn-oderby {
    margin-right: 1%;
}