<!-- – insertion du composant bandeauComponent  -->
<header id="header">
    <app-header></app-header>
</header>

<div class="feature">
    <div class="feature-inner">
        <h1>LandingPage</h1>
    </div>
</div>

<app-bandeau></app-bandeau>


<div class="block-comment">

    <!-- <button (click)="getCommentsByHashtags('all')" value="All" type="button"
        class="btn btn-secondary hashtag">all</button> -->
    <button *ngFor="let hashtag of this.hashtags" (click)="getCommentsByHashtags(hashtag)" value={{hashtag}}
        type="button" class="btn btn-secondary hashtag">{{hashtag}}</button>
    <!-- <button (click)="getCommentsByHashtags('test')" value="test" type="button"
        class="btn btn-secondary hashtag">test</button> -->

    <br><br><br>

    <div>
        <!-- <table>
            <tr *ngFor="let item of this.commentsArray | slice: (page-1) * pageSize : this.page * this.pageSize"> -->
        <!-- content here -->
        <app-post *ngFor="let item of this.commentsArray | slice: (page-1) * pageSize : this.page * this.pageSize"
            [post]='item'></app-post>
        <!-- </tr>
        </table> -->
    </div>

    <div class="justify-content-rigth">
        <ngb-pagination [(page)]="this.page" [pageSize]="this.pageSize" [collectionSize]="this.commentsArray.length">
        </ngb-pagination>
    </div>

</div>

<!-- <div *ngFor="let comment of this.commentsArray"> -->
<!-- <app-post *ngFor="let comment of this.commentsArray" [post]='comment'></app-post> -->
<!-- </div> -->

<!-- LandingPage -->
<br />