@media only screen and (max-width:800px) {
    .block-comment {
        margin: auto;
        width: 100%;
        padding: 8%;
    }
}

@media only screen and (min-width:800px) {
    
    .block-comment {
        margin: auto;
        width: 80%;
        padding: 8%;
    }
}

.feature {
    background: rgb(209, 139, 0);
    padding: 18px;
}

.feature-inner {
    margin: auto;
    width: 970px;
}

.feature-inner h1 {
    color: #f8dbdb;
    font-size: 30px;
}

.hashtag {
    margin-right: 1%;
}

.justify-content-rigth {
    display: flex !important;
    justify-content: right !important;
    margin-top: 2%;
}