<!-- – insertion du composant bandeauComponent  -->
<header id="header">
    <app-header></app-header>
</header>

<div class="feature">
    <div class="feature-inner">
        <h1>LandingPage</h1>
    </div>
</div>

<app-bandeau></app-bandeau>


<div class="block-comment">

    <button type="button" class="btn btn-outline-primary ms-2" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <span class="material-symbols-outlined"> tune </span>
    </button>

    <div #collapse="ngbCollapse" [(ngbCollapse)]="!isCollapsed" class="div-collapse">
        <button class="btn btn-outline-primary ms-2" (click)="getCommentsOrderByNbLike()">
            <span class="material-symbols-outlined"> favorite </span>
            <span *ngIf="this.isOrderByNbLikesUpDown" class="material-symbols-outlined"> south </span>
            <span *ngIf="this.isOrderByNbLikesUpDown==false" class="material-symbols-outlined"> north </span>
        </button>
        <button class="btn btn-outline-primary ms-2" (click)="getCommentsOrderByDate()">
            <span class="material-symbols-outlined"> event </span>
            <span *ngIf="this.isOrderByDateUpDown" class="material-symbols-outlined"> south </span>
            <span *ngIf="this.isOrderByDateUpDown==false" class="material-symbols-outlined"> north </span>
        </button>
    </div>

    <br><br>

    <div>
        <button *ngFor="let hashtag of this.hashtags" (click)="getCommentsByHashtags(hashtag)" value={{hashtag}}
            type="button" class="btn btn-secondary hashtag">{{hashtag}}</button>
    </div>


    <br><br><br>

    <div>
        <!-- <table>
            <tr *ngFor="let item of this.commentsArray | slice: (page-1) * pageSize : this.page * this.pageSize"> -->
        <!-- content here -->
        <app-post *ngFor="let item of this.commentsArray | slice: (page-1) * pageSize : this.page * this.pageSize"
            [post]='item'></app-post>
        <!-- </tr>
        </table> -->
    </div>

    <div class="justify-content-rigth">
        <ngb-pagination [(page)]="this.page" [pageSize]="this.pageSize" [collectionSize]="this.commentsArray.length">
        </ngb-pagination>
    </div>

</div>

<!-- <div *ngFor="let comment of this.commentsArray"> -->
<!-- <app-post *ngFor="let comment of this.commentsArray" [post]='comment'></app-post> -->
<!-- </div> -->

<!-- LandingPage -->
<br />