<!-- https://pedago.univ-avignon.fr/~uapv1903453 -->
<!-- template resource: https://bootsnipp.com/snippets/dldxB -->


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>
    body {
        font-family: "Poppins", sans-serif;
        height: 100vh;
    }

    @media only screen and (max-width:800px) {

        #formContent {
            border-radius: 10px 10px 10px 10px;
            background: #fff;
            width: 90%;
            max-width: 50%;
            position: relative;
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            text-align: center;
        }
    }

    @media only screen and (min-width:800px) {

        #formContent {
            border-radius: 10px 10px 10px 10px;
            background: #fff;
            width: 90%;
            max-width: 25%;
            position: relative;
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            text-align: center;
        }
    }

    /* STRUCTURE */

    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        padding: 20px;
    }

    #formFooter {
        background-color: #f6f6f6;
        padding: 6%;
        text-align: center;
        border-radius: 0 0 10px 10px;
    }



    /* FORM TYPOGRAPHY*/

    button {
        background-color: #56baed;
        border: none;
        color: white;
        padding: 4% 15%;
        text-align: center;
        text-transform: uppercase;
        font-size: 13px;
        box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
        border-radius: 5px 5px 5px 5px;
        margin: 5% 4% 6% 3%;
    }

    button:hover {
        background-color: #39ace7;
        cursor: pointer;
    }

    input {
        border-radius: 5px 5px 5px 5px;
        background-color: #f6f6f6;
        border: none;
        color: #0d0d0d;
        padding: 3% 5%;
        font-size: 16px;
        margin: 1%;
        width: 85%;
        border: 2px solid #f6f6f6;
    }
</style>

<div class="wrapper">
    <div id="formContent">
        <br />
        <div *ngIf="this.isBandeauVisible == true">
            <app-bandeau message={{message}} msgType={{msgType}}></app-bandeau>
        </div>
        <!-- Login Form -->
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <input type="text" name="username" placeholder="username" formControlName="username">
            <input type="password" name="password" placeholder="password" formControlName="password">
            <button type="submit">Log In</button>
        </form>

        <div id="formFooter">
            <a href="#">Forgot Password?</a>
        </div>

    </div>
</div>