<!-- https://pedago.univ-avignon.fr/~uapv1903453 -->
<!-- template resource: https://bootsnipp.com/snippets/dldxB -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="wrapper">
    <div id="formContent">
        <br />
        <div *ngIf="this.isBandeauVisible == true">
            <app-bandeau message={{message}} msgType={{msgType}}></app-bandeau>
        </div>
        <!-- Login Form -->
        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <input type="text" name="username" placeholder="username" formControlName="username">
            <input type="password" name="password" placeholder="password" formControlName="password">
            <button type="submit">Log In</button>
        </form>

        <div id="formFooter">
            <a href="#">Forgot Password?</a>
        </div>

    </div>
</div>